#tix {
    padding-top: 0 !important;
}

.tix_tickets_table {
    margin-bottom: 1rem;

    td {
        border-top: 0;
    }

    &:not(.tix-attendee-form) {
        thead {
            color: white;
        }

        tbody {
            tr {
                &:hover {
                    td {
                        background: $vegasLightGrey;
                    }
                }

                &:not(:last-child) {
                    td {
                        border-bottom: 1rem solid white;
                    }

                }

            }

            td {
                padding: 1rem;

                &:first-child {
                    border-right: 2px solid white;
                }

                &:nth-child(4) {
                    padding-left: 0;
                }
            }
        }

        td {
            background: $vegasLightGrey;
        }
    }

}

.tix-column-remaining {
    display: none;
}

.tix-column-quantity {
    select {
        margin-bottom: 0;
        min-width: 40px;
    }
}