.footer-main {
    position: relative;
    padding: 0 1rem 4rem;
    background: $siteGrey;
    color: #909090;
    font-family: $altFont;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;

    a {
        color: #909090;
        font-weight: bold;
        text-decoration: none;
    }
}

    .footer--menu {
        font-size: .75em;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            padding: 0;

            &:not(:last-child):after {
                content: ' / ';
            }
        }
    }

    .twitter-link {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 0;
        margin-bottom: 1rem;
        background: url(assets/img/twitter.svg) no-repeat 50% 50%;
        background-size: 40px 40px;
    }

.facebook-link {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0;
    margin-bottom: 1rem;
    background: url(assets/img/facebook.svg) no-repeat 50% 50%;
    background-size: 40px 40px;
}