.footer-main {
    position: relative;
    padding: 0 1rem 4rem;
    background: $siteGrey;
    color: #909090;
    font-family: $altFont;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;

    a {
        color: #909090;
        font-weight: bold;
        text-decoration: none;
    }
}

    .footer--menu {
        font-size: .75em;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            padding: 0;

            &:not(:last-child):after {
                content: ' / ';
            }
        }
    }

    .twitter-link {
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto 1em auto;
        background: url(assets/img/twitter.png) no-repeat left top;
    }