

.home--title {
    color: $vegasGold;
    font-size: (22rem/16);

    span {
        display: block;
    }

    &:after {
        //content: '';
        //display: block;
        //height: 2px;
        //width: 0;
        //margin-top: 1rem;
        //background: $siteLightPurple;
        //@include transition(width 1s ease);
    }

    &.skrollable-after {
        &:after {
            //width: 4rem;
        }
    }
}

.title_centered {
}

.title--small {
    margin-bottom: .375rem;
    font-size: .625em;
}

.home {
    .content {
        padding: 0;
        max-width: inherit;
    }

    .content--body {
        width: 100%;
    }
}

.faux-paper {
    width: calc(100% - 2rem);
    margin: 0 auto;
    padding: 1rem;
    background: #fff;
    border: 2px solid #ececec;
    text-align: center;
}

.faux-paper--header {
    margin-bottom: 1em;
    color: $vegasGold;
    font-family: $altFont;
    font-size: (22rem/16);
    line-height: 1.35;
}

@media only screen and (min-width: #{$smallBreakpoint}) {
    .home--title {
        font-size: (32rem/16);
    }

    .faux-paper {
        max-width: (800rem/16);
        padding: (50rem/16) (100rem/16);
    }

    .faux-paper--header {
        font-size: (32rem/16);
    }
}