.home--tickets {
    padding: 4em 2em;
    background: $siteGrey;
}

    .tickets--header {
        margin-bottom: 2rem;
        color: white;
        text-align: center;

        .header--description {
            max-width: 500px;
            margin: 0 auto;

            span {
                display: block;
                color: #716e6e;
                font-size: .75em;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }

    .tickets--title {

        &:after {
            margin: 1rem auto 0;
        }
    }

    .tickets--button_wrapper {
        text-align: center;
        margin-top: 2em;

        a:not(.button) {
            color: white;
            font-size: .875em;
            font-weight: 200;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .ticket {
        background: $siteMidGrey;
        @include transition(background-color .3s ease);

        &:hover {
            background-color: white;
        }

        &.sold-out {
            position: relative;
            background: rgba(255,255,255,.7);

            .ticket--title,
            .ticket--description,
            .ticket--price {
                opacity: .4;
            }

            &:before {
                content: 'Sold Out!';
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%) rotate(-60deg);
                -moz-transform: translate(-50%, -50%) rotate(-60deg);
                -ms-transform: translate(-50%, -50%) rotate(-60deg);
                -o-transform: translate(-50%, -50%) rotate(-60deg);
                transform: translate(-50%, -50%) rotate(-60deg);
                @include transform-origin(50%, 50%);
                color: red;
                font-family: $altFont;
                font-size: 3em;
                text-transform: uppercase;
                font-weight: 700;
                white-space: nowrap;
                z-index: 3;
            }
        }
    }

        .tickets--list {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .ticket {
                margin: 0 0 .0625em 0;
                padding: 2em 1em;
            }

                .ticket--title {
                    font-size: 1rem;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;

                    &:after {
                        content: '';
                        display: block;
                        width: 50%;
                        height: 2px;
                        margin: 1rem auto;
                        background: #29a1f3;
                    }
                }

                    .ticket--date {
                        display: block;
                        padding-bottom: .25rem;
                        color: #29a1f3;
                        font-size: .875rem;
                    }

                .ticket--description {
                    font-size: .875em;
                }

                .ticket--price {
                    margin-top: 2rem;
                    color: #796d97;
                    font-size: 5.5em;
                    font-weight: 300;
                    text-align: center;
                }



@media only screen and (min-width: #{$smallBreakpoint}) {
    .tickets--list {
        @include flexbox();
        @include flexbox-align-items(stretch);
        @include flexbox-flex-wrap(wrap);
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    .no-flexbox.no-flexboxlegacy {
        .tickets--list {
            display: block;
        }

        .ticket {
            width: 100%;

            &:nth-child(odd) {
                border: 0;
            }
        }
    }

        .ticket {
            position: relative;
            width: 50%;
            padding-bottom: 11em;

            &:nth-child(odd) {
                border-right: 1px solid $siteGrey;
            }
        }

            .ticket--price {
                position: absolute;
                bottom: 2rem;
                @include css3-calc('width', '100% - 2rem');
                margin-top: 0;
            }
}



@media only screen and (min-width: #{$largeBreakpoint}) {
    .tickets--header {
        .tickets--button_wrapper {
            display: none;
        }
    }

    .ticket {
        width: 25%;
        margin-bottom: 0;
        border-right: 1px solid $siteGrey;

        &:last-child {
            border-right: none;
        }
    }
}