.home--sponsors {
    background: $siteMidGrey;
}

    .sponsors--header {
        padding: 4em 2em 2em 2em;
    }

    .sponsors--content {
        padding: 0 2em 4em 2em;
    }

        .sponsors--list {
            @include flexbox();
            @include flexbox-align-items(flex-start);
            @include flexbox-justify-content(space-between);
            @include flexbox-flex-wrap(wrap);
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .sponsor {
                position: relative;
                @include css3-calc('width', '50% - 1em');
                background: $siteGrey;
                margin-bottom: 2em;
            }

        .no-flexbox {
            .sponsors--list {
                display: block;
                @include clearfix();
            }

            .sponsor {
                float: left;

                &:nth-child(odd) {
                    margin-right: 1em;
                }
            }
        }

        .no-csscalc {
            .sponsor {
                width: 45%;

                &:nth-child(odd) {
                    margin-right: 10%;
                }
            }
        }



@media only screen and (min-width: #{$smallBreakpoint}) {
    .sponsor {
        @include css3-calc('width', '33.33333333% - 1.3333333333333em');
    }

    .no-flexbox {

        .sponsor {
            margin-right: 2em;

            &:nth-child(odd) {
                margin-right: 2em;
            }

            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
    }

    .no-csscalc {
        .sponsor {
            width: 30%;
            margin-right: 5%;

            &:nth-child(odd) {
                margin-right: 5%;
            }

            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
    }
}



@media only screen and (min-width: #{$midBreakpoint}) {
    .home--sponsors_inner {
        @include flexbox();
        @include flexbox-justify-content(space-between);
        @include flexbox-align-items(flex-start);
        max-width: 960px;
        margin: 0 auto;
    }
    .sponsors--header {
        width: 24em;

    }

    .sponsors--content {
        @include css3-calc('width', '100% - 24em');
        padding-top: 4em;
    }

    .sponsor {
        @include css3-calc('width', '33.33333333% - 2em');
        margin-bottom: 3em;
    }

    .no-flexbox {
        .sponsor {
            margin-right: 3em;

            &:nth-child(odd) {
                margin-right: 3em;
            }

            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
    }

    .no-flexbox.no-flexboxlegacy {
        .home--sponsors_inner {
            display: block;
            @include clearfix();
        }

            .sponsors--header {
                float: left;
                width: 33.33333333%;
            }

            .sponsors--content {
                float: right;
                width: 60%;
            }
    }
}