.home--sponsors {
    background: $siteMidGrey;
}

    .sponsors--header {
        padding: 4em 2em 2em 2em;
    }

    .sponsors--content {
        padding: 0 2em 4em 2em;
    }

        .sponsors--list {
            @include flexbox();
            @include flexbox-align-items(flex-start);
            @include flexbox-justify-content(space-between);
            @include flexbox-flex-wrap(wrap);
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .sponsor {
                position: relative;
                @include css3-calc('width', '50% - 1em');
                height: 0;
                @include css3-calc('padding-top', '50% - 1em');
                background: $siteGrey;
                margin-bottom: 2em;

                a {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                }
            }



@media only screen and (min-width: #{$smallBreakpoint}) {
    .sponsor {
        @include css3-calc('width', '33.33333333% - 1.3333333333333em');
        @include css3-calc('padding-top', '33.33333333% - 1.3333333333333em');
    }
}



@media only screen and (min-width: #{$midBreakpoint}) {
    .home--sponsors_inner {
        @include flexbox();
        @include flexbox-justify-content(space-between);
        @include flexbox-align-items(flex-start);
        max-width: 960px;
        margin: 0 auto;
    }
    .sponsors--header {
        width: 24em;

    }

    .sponsors--content {
        @include css3-calc('width', '100% - 24em');
        padding-top: 4em;
    }

    .sponsor {
        @include css3-calc('width', '33.33333333% - 2em');
        @include css3-calc('padding-top', '33.33333333% - 2em');
        margin-bottom: 3em;
    }
}