.home--map {
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify-content(space-around);
    height: 30.5em;
    background: url(assets/img/map_mobile.jpg) no-repeat 50% 50%;

    a {
        display: inline-block;
        margin-top: 1rem;
        font-family: $altFont;
        text-transform: uppercase;
    }
}



@media only screen and (min-width: #{$smallBreakpoint}) {
    .home--map  {
        background-image: url(assets/img/map.jpg);

        .faux-paper {
            padding: (50rem/16);
        }

        a {
            margin-top: 3rem;
        }
    }
}



@media only screen and (min-width: 1920px) {
    .home--map  {
        background-size: 100% auto;
    }
}