.home--title {
    color: $siteTitleBlue;
    font-size: 1.875em;
    letter-spacing: 10px;
    text-transform: uppercase;

    span {
        display: block;
    }

    &:after {
        content: '';
        display: block;
        height: 2px;
        width: 4rem;
        margin-top: 1rem;
        background: $siteLightPurple;
    }
}

.title_centered {
    span {
        padding-left: 10px;
    }
}

.title--small {
    margin-bottom: .375rem;
    font-size: .625em;
}

.home {
    .content--body {
        width: 100%;
    }
}