.home--title {
    color: $siteTitleBlue;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;

    span {
        display: block;
        font-size: .625em;
    }

    &:after {
        content: '';
        display: block;
        height: 2px;
        width: 4rem;
        margin-top: 1rem;
        background: $siteTitleBlue;
    }
}