.home--speakers--header {
    padding: 4em 2em;
    background: white;
}

    .header--description,
    .header--description p {
        font-weight: 300;
        line-height: 1.75;
    }

    .home--speakers--nav {
        display: none;
    }

.home--speakers--list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .home--speaker {
        @include flexbox();
        @include flexbox-align-items(center);
        margin: 0;
        padding: 0;
        background: $vegasDarkGrey;
        font-family: $brandon;
        color: $linkColor;

        a {
            font-family: $brandon;

            &:hover,
            &:active,
            &:visited,
            &:focus {
                color: $linkColor;
            }
        }

        .home--speaker--biography {
            display: none;
        }
    }

        .home--speaker--picture {
            margin: 0;
            padding: 0;
            width: 8em;
            height: 8em;
        }

        .home--speaker--content {
            @include css3-calc('width', '100% - 8em');
            padding: 1em 0;
            text-align: center;
            text-transform: uppercase;
        }

            .home--speaker--name {
                margin-bottom: 0;
                padding-left: 8px;
                font-weight: bold;
                color: $linkColor;
            }



@media only screen and (min-width: #{$midBreakpoint}) {
    .home--speakers,
    .home--speakers--list {
        @include flexbox();
        @include flexbox-align-items(stretch);
        height: 35em;
    }

    .no-flexbox.no-flexboxlegacy {
        .home--speakers,
        .home--speakers--list {
            display: block;
            @include clearfix();
        }

        .home--speakers--header {
            float: left;
        }

        .home--speakers--list_wrapper {
            float: left;
        }

        .home--speaker {
            float: left;
        }
    }

    .home--speakers--header {
        position: relative;
        padding: 4em 2em;
        width: 24em;
    }

        .header--description {
            max-height: 17.875rem;
            overflow: hidden;
            overflow-y: auto;
        }

        .home--speakers--nav {
            display: block;
            position: absolute;
            left: 2em;
            bottom: 1em;
        }

            .arrow-left,
            .arrow-right {
                font-size: 1.5em;
                @include transition(color .3s ease);
                color: $textColor;

                &:hover,
                &:active {
                    color: $linkColor;
                    text-decoration: none;
                }
            }

            .arrow-right {
                margin-left: 1.5em;
            }

    .home--speakers--list_wrapper {
        @include css3-calc('width', '100% - 24em');
        overflow-x: auto;
        overflow-y: hidden;
    }

        .home--speakers--list {
            width: 312rem;
        }

            .home--speaker {
                display: block;
                width: 24rem;
                height: 24rem;
                opacity: .5;
                @include multi-transition('opacity .3s ease, background-color .3s ease');

                &:hover,
                &.active {
                    opacity: 1;
                }
            }

                .home--speaker--content {
                    padding: 4em 0;
                    height: 11rem;
                    width: 24rem;
                    background: $vegasDarkGrey;
                    border-right: 1px solid white;
                }

                .home--speaker--picture {
                    width: 24rem;
                    height: 24rem;
                    border-right: 1px solid white;

                    img {
                        width: 24rem;
                        height: 24rem;
                    }
                }

                .home--speaker--name {
                    white-space: nowrap;
                }
}



@media only screen and (min-width: #{$largeBreakpoint}) {
    .home--speakers--header {
        padding: 6em 4em;
        width: 35em;
    }

        .header--description {
            max-height: 15.125rem;
        }

        .home--speakers--nav {
            left: 4em;
            bottom: 2em;
        }

    .home--speakers--list_wrapper {
        @include css3-calc('width', '100% - 35em');
    }
}