.home--schedule {
    padding: 0 1em;
}

.schedule--content {
    position: relative;
    max-width: 60em;
    @include center-block();
}

    .schedule--title {
        text-align: center;
        margin: 4rem 0;

        &:after {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .schedule--date {
        display: block;
        position: relative;
        margin-bottom: .25em;
        color: $siteScheduleDateBlue;
        font-family: $altFont;
        text-transform: uppercase;
        z-index: 1;
    }

    .schedule--day-list {
        position: relative;
        margin: 0;
        padding: 0;
        padding-left: 2em;
        list-style: none;
        z-index: 1;
    }

        .schedule--session {
            margin: 0;
            margin-bottom: 3em;
            padding: 0;
        }

            .session--start-time {
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: -1.75em;
                    top: .1875em;
                    height: .875em;
                    width: .875em;
                    @include rounded(50%);
                    background-color: $siteLightGrey;
                    @include transition(background-color .3s ease);
                }

                &.skrollable-after {
                    &:before {
                        background-color: $siteScheduleDateBlue;
                    }
                }
            }

            .session--title {
                margin-bottom: 0;
                font-size: 1em;
                font-weight: bold;
                line-height: 1.35;
                font-family: $baseFont;
            }

            .session--speaker {
                margin-bottom: .5em;
            }






    .schedule--progress-line {
        position: absolute;
        top: 1.75em;
        left: .625em;
        bottom: 0;
        @include css3-calc('height', '100% - 10rem');
        width: .125em;
        background: $siteLightGrey;
        overflow: hidden;
        z-index: 0;
    }

        .schedule--progress-line_inner {
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $siteScheduleDateBlue;
        }

.schedule--the-end {
    display: block;
    position: relative;
    height: 0;
    max-width: 15rem;
    margin: 2rem auto;
    padding-top: 8rem;

    svg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;

        .schedule--building {
            fill: none;
            stroke: $siteLightPurple;
            stroke-linejoin: round;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            fill-rule: evenodd;
            clip-rule: evenodd;
            webkit-transition: all 1s;
        }
    }
}

    .the-end--text {
        margin-top: -1.2em;
        color: $siteLightPurple;
        font-family: $altFont;
        font-weight: bold;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
    }



@media only screen and (min-width: #{$midBreakpoint}) {
    .home--schedule {
        margin-bottom: 8em;
    }

    .schedule--date {
        width: 16em;
        text-align: right;
    }

    .schedule--day-list {
        padding-left: 0;
    }

    .schedule--session {
        @include flexbox();
        @include flexbox-align-items(flex-start);
        @include flexbox-justify-content(space-between);
    }

        .session--start-time {
            width: 16em;
            text-align: right;

            &:before {
                left: auto;
                right: -2.5em;

            }
        }

        .session--content {
            @include css3-calc('width', '100% - 20em');
        }

    .schedule--progress-line {
        left: 18em;
    }

    .schedule--the-end {
        background: white;
        margin: 2em 0 0 0;
        left: 10.125em;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: -.5rem;
            height: .875em;
            width: .875em;
            @include rounded(50%);
            background-color: $siteLightGrey;
            @include transition(background-color .3s ease);
        }

        svg {
            top: 1em;
        }

        &.skrollable-after {
            &:before {
                background-color: $siteScheduleDateBlue;
            }
        }
    }

    .the-end--text {
        margin-top: -.5em;
    }
}