

.speakers--header {
    padding: 4em 2em;
    background: $siteGrey;
    color: white;
}

    .speakers--nav {
        display: none;
    }

.speakers--list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .speaker {
        @include flexbox();
        @include flexbox-align-items(center);
        margin: 0;
        padding: 0;
        opacity: .5;
        @include multi-transition('opacity .3s ease, background-color .3s ease');

        .speaker--biography {
            display: none;
        }

        &:hover,
        &.active {
            opacity: 1;
            background-color: $siteLightGrey;
        }
    }

        .speaker--picture {
            margin: 0;
            padding: 0;
            width: 8em;
            height: 8em;
        }

        .speaker--content {
            @include css3-calc('width', '100% - 8em');
            padding: 1em 0;
            text-align: center;
            text-transform: uppercase;
        }

            .speaker--name {
                margin-bottom: 0;
                font-weight: bold;
            }



@media only screen and (min-width: #{$midBreakpoint}) {
    .home--speakers,
    .speakers--list {
        @include flexbox();
        @include flexbox-align-items(stretch);
        height: 35em;
    }

    .speakers--header {
        padding: 6em 4em;
        width: 35em;
    }

    .speakers--list_wrapper {
        @include css3-calc('width', '100% - 35em');
        overflow-x: auto;
    }

        .speakers--list {
            width: 216rem;
        }

            .speaker {
                display: block;
                width: 24rem;
            }

                .speaker--content {
                    padding: 4em;
                    height: 11em;
                    width: 24rem;
                }

                .speaker--picture {
                    width: 24rem;
                    height: 24rem;

                    img {
                        width: 24rem;
                    }
                }
}