.home--press {
    padding: 0 1rem;
}

.press--header {
    max-width: (600rem/16);
    margin: 0 auto;
    padding:0 0 2em;
    text-align: center;
    line-height: 1.5;
}

    .home--press--title {
    }

    .press--content {
        padding: 0 0 4em 0;
        margin: 0 auto;
    }

    .press--quote {

        padding: 1rem 0 3rem;
        text-align: center;

        &:not(:first-child) {
            border-top: 1px solid $siteLightGrey;
        }
    }

        .quote--image {
            display: inline-block;
            position: relative;
            width: 128px;
            height: 128px;
            @include transform-rotate(45);
            @include transform-origin(50%, 50%);
            overflow: hidden;

            img {
                position: absolute;
                top: -26px;
                left: -26px;
                width: 180px;
                max-width: inherit;
                height: 180px;
                @include transform-rotate(-45);
                @include transform-origin(50%, 50%);
                vertical-align: top;
            }
        }

        .quote--text {
            text-align: left;
            font-style: italic;
        }

        .quote--name {
            margin-top: 3.25rem;
            color: $vegasGold;
            font-family: $altFont;
            line-height: 1;
            text-transform: uppercase;

            &:after {
                content: '';
                display: block;
                width: 100px;
                margin: 1.5rem auto;
                height: 1px;
                background: $vegasGold;
            }
        }



@media only screen and (min-width: #{$midBreakpoint}) {
    .press--content {
        @include flexbox();
        @include flexbox-justify-content(space-between);
    }

    .press--quote {
        width: calc(25% - 3rem);
        padding-bottom: 0;
    }
}