

.speakers--header {
    padding: 4em 2em;
    background: $siteGrey;
    color: white;
}

    .speakers--nav {
        display: none;
    }

.speakers--list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .speaker {
        margin: 0;
        padding: 0;
        opacity: .5;
        @include transition(opacity .3s ease);

        .speaker--biography {
            display: none;
        }

        &:hover,
        &.active {
            opacity: 1;

            .speaker--content {
                background-color: $siteLightGrey;
            }
        }
    }

        .speaker--picture {
            margin: 0;
            padding: 0;

            img {
                width: 100%;
            }
        }

        .speaker--content {
            padding: 2em 0;
            text-align: center;
            text-transform: uppercase;
            background-color: white;
            @include transition(background-color .3s ease);
        }

            .speaker--name {
                margin-bottom: 0;
                font-weight: bold;
            }



@media only screen and (min-width: #{$midBreakpoint}) {
    .home--speakers,
    .speakers--list {
        @include flexbox();
        @include flexbox-align-items(stretch);
        height: 35em;
    }

    .speakers--header {
        padding: 6em 4em;
        width: 35em;
    }

    .speakers--list_wrapper {
        @include css3-calc('width', '100% - 35em');
        overflow-x: auto;
    }

        .speakers--list {
            width: 216rem;
        }

            .speaker {
                width: 24rem;
            }

    .speaker--content {
        height: 11em;
        width: 24rem;
    }

    .speaker--picture {
        width: 24rem;

        img {
            width: 24rem;
        }
    }
}