

.speaker--info {
    @include flexbox();
    @include flexbox-align-items(center);
}

.speaker--picture {
    margin: 0;
    width: 8em;
    height: 8em;
}

.speaker--metadata {
    @include css3-calc('width', '100% - 8em');
    padding: 1em 0;
    text-align: center;

    a {
        font-family: $altFont;
        text-transform: uppercase;
    }
}

    .speaker--name {
        font-weight: bold;
        margin-bottom: 0;

        a {
            padding-left: 8px;
            color: $siteGrey;
            font-weight: bold;
            text-decoration: none;
        }
    }

    .speaker--bio {
        padding: 1em 0;
    }



@media only screen and (min-width: #{$midBreakpoint}) {
    .speaker {
        @include flexbox();
        @include flexbox-align-items(flex-start);
        @include flexbox-justify-content(space-between);
    }

    .speaker--info {
        display: block;
        width: 17em;
    }

        .speaker--picture {
            width: 17em;
            height: 17em;

            img {
                width: 100%;
            }
        }

        .speaker--bio {
            @include css3-calc('width', '100% - 18rem');
            height: auto;
            padding: 0;
            font-size: .875em;
        }

        .speaker--metadata {
            width: 100%;
            background: $siteGrey;
            color: white;

            a {
                color: white;
            }
        }

    .single-speaker {
        .speaker--bio {
            font-size: 1em;
        }
    }
}