.sponsor--title {

    &.no-featured {
        line-height: 6em;
    }

    img {
        max-height: 6rem;
    }
}

.sponsor--level {
    font-weight: bold;
    margin-bottom: 1em;

    em {
        font-weight: bold;
    }
}